{{ $person := index .Site.Data.people (.Get 0) }}
{{ with $person }}
<div class="bio-box">
	<img src="/assets/img/{{ $person.picture }}" alt="Profile image of {{ $person.name }}" />
	<span class="name">{{ $person.name }} //</span>
	{{ with $person.twitter }}
		<a href="https://twitter.com/{{ $person.twitter }}"><span class="fab fa-twitter"></span></a>
	{{ end }}
	{{ with $person.instagram }}
		<a href="https://www.instagram.com/{{ $person.instagram }}/"><span class="fab fa-instagram"></span></a>
	{{ end }}
	{{ with $person.facebook }}
		<a href="https://www.facebook.com/{{ $person.facebook }}/"><span class="fab fa-facebook"></span></a>
	{{ end }}
	{{ with $person.website }}
		<a href="{{ $person.website }}" target="_blank"><span class="fas fa-globe"></span></a>
	{{ end }}
	{{ with $person.github }}
		<a href="https://github.com/{{ $person.github }}"><span class="fab fa-github"></span></a>
	{{ end }}
	<p class="bio">{{ $person.bio }}</p>
</div>
{{ end }}
